body {
	background: #000;
}

#example {
	border: 1px solid #fff;
	height: 600px;
	width: 800px;
}

.tuioCursor {
	background: #fff;
	height: 45px;
	left: 0;
	position: absolute;
	top: 0;
	width: 45px;
}